body{
    background-color: #311E69;
}

.navbar{
    text-align: left;
    padding-top: 25px;
    margin: 0;
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #311E69;
}

.navbar .anchor {
    color: white;
    background-color: #311E69;
    text-decoration: none;
    border: none;
    padding: 15px 20px;
    margin-top: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: large;
    display: inline-block;
}

.navbar .anchor:hover {
    color: #311E69;
    background-color: pink;
}

.navbar .social-media{
    float: right;
    height: 50px;
    width: 65px;
    margin-top: 10px;
    padding-left: 30px;
}


.main-heading{
    color: white;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    padding-bottom: 20px;
    padding-top: 120px;
}

.main-image{
    display: block;
    margin: auto;
}

.logo{
    height: 60px;
    width: 60px;
    padding-right: 60px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.space{
    width: 750px;
    display: inline-block;
}

.iwin-profile{
    margin-left: 100px;
    margin-right: 75px;
    height: 900px;
    width: 750px;
}

.about-container{
    display: flex;
}

p, ul{
    font-family: 'Heebo', sans-serif;
    color: white;
    font-size: medium;
    display: block;
}

.text{
    display: block;
}

.twitch-image{
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    padding: 50px;
}

#video-slider{
    display: flex;
    overflow: hidden;
    width: 600px;
    margin: auto;
}

#video-slider video{
    width: 600px;
    height: 600px
}

video{
    display: block;
    margin: 0;
    padding: 0;
}

.video-buttons{
    display: flex;
    width: 40px;
    height: 40px;
}

button{
    border: none;
    background: none;
    padding: 0;
}

.video-player-layout{
    display: flex;
}

#right-button{
    margin-right: 250px;
}

#left-button{
    margin-left: 250px;
}